<h2>Leaderboard</h2>

<table>
  <thead>
    <tr>
      <td><strong>Profile pic</strong></td>
      <td><strong>Name</strong></td>
      <td><strong>Wins</strong></td>
    </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= image_tag user.image.thumb.url %></td>
      <td><%= link_to "#{user.name}", user_path(user.id) %></td>
      <td><%= user.total_wins %></td>
    </tr>
  <% end %>
  </tbody>
</table>



