<h2>Leaderboard</h2>

<% @users.each do |user| %>

<table>
  <tr>
    <th>Name</th>
    <th>Wins</th>
  </tr>
  <tr>
    <td><%= user.name %></td>
    <td><% total_wins = user.count_users_x_matches(user.id) + user.count_users_o_matches(user.id) %>
      <%= total_wins %>
     
    </td>
  </tr>
</table>


<% end %>
