<h2>Leaderboard</h2>

<table>
  <thead>
    <tr>
      <td>Name</td>
      <td>Wins</td>
    </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.name ? user.name : "No name" %></td>
      <td><%= user.total_wins %></td>
    </tr>
  <% end %>
  </tbody>
</table>



