<h2>Tic Tac Toe XOXO </h2>


Welcome page with user login and some information about the app. <br>
Once logged in, the user will see their current, incomplete matches and a button to: <br> <br>

<h1>Welcome back <%= @name %>!</h1>

<%= link_to 'Start a new match', new_match_path %>

