

<h2>Welcome back <%= @name %>!</h2>

<h3><%= link_to 'Start a new match', new_match_path, class: 'new_match' %></h3>
<br>
<div class="darth"><%= image_tag "http://integrativeworks.com/wp-content/uploads/darth-free-hugs.jpg", size: "550x192" %></div>

